@import './variable.scss';

.mtui-common {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;

  &::before, &::after {
    box-sizing: border-box;
    outline: none;
  }
}

.mtui-p {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 0 15px;
  font-size: $fontMedium;
  color: $colorMinorTxt;
  line-height: 1.6;
}

.mtui-link {
  margin-top: 0;
  margin-bottom: 0;
  font-size: $fontMedium;
  color: $colorPrimary;

  &:visited {
    color: $colorPrimary;
  }
}

.mtui-ul {
  margin-top: 10px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  list-style-position: inside;
  font-size: $fontMedium;

  li {
    color: $colorMinorTxt;
    line-height: 1.6;
  }
}
