.mtui {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before, &::after {
    box-sizing: border-box;
    outline: none;
  }
}

.mtui-p {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 0 20px;
  font-size: $fontSmall;
  color: lighten($black, 20%);
  line-height: 1.5;
}

// 遮罩层
.mtui-mask {
  @include mask();
}

.mtui-white-mask {
  @include mask(100, .6, white);
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

// ======== 【transition】 ========
.fadeIn-enter-active {
  transition: opacity .2s;
}
.fadeIn-leave-active {
  transition: opacity .1s;
}
.fadeIn-enter, .fadeIn-leave-to {
  opacity: 0;
}

.zoomIn-enter-active, .zoomIn-leave-active {
  transition: all .2s;
}
.zoomIn-enter, .zoomIn-leave-to {
  opacity: 0;
  transform: scale3d(0.3, 0.3, 0.3);
}

.slide-enter-active, .slide-leave-active {
  transition: all .2s;
}
.slide-enter, .slide-leave-to {
  opacity: 0;
  transform: scale3d(1, 0, 1);
}
