.mtui-common {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;

  &::before, &::after {
    box-sizing: border-box;
    outline: none;
  }
}

.mtui-p {
  margin-bottom: 16px;
  padding: 0 20px;
  font-size: $fontSmall;
  color: lighten($black, 20%);
  line-height: 1.5;
}

// 遮罩层
.mtui-mask {
  @include mask();
}

.mtui-white-mask {
  @include mask(100, .6, white);
}
