// 遮罩层
@mixin mask($zIndex: 100, $opacity: .4, $color: black) {
  position: fixed;
  z-index: $zIndex;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background-color: transparentize($color, $opacity)
}

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

// 多行文本溢出显示省略号
@mixin line-limit($lines: 2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

// 单行文本溢出显示省略号
@mixin text-overflow() {
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// 一像素边框通用
@mixin border-line() {
  content: '';
  position: absolute;
  z-index: 0;
  transform-origin: 0 0;
}
@mixin border-top-line($color: $colorDivider) {
  @include border-line;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid $color;
  transform: scaleY(.5);
}
@mixin border-bottom-line($color: $colorDivider) {
  @include border-line;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid $color;
  transform: scaleY(.5);
}
@mixin border-left-line($color: $colorDivider) {
  @include border-line;
  top: 0;
  left: 0;
  height: 100%;
  border-left: 1px solid $color;
  transform: scaleX(.5);
}
@mixin border-right-line($color: $colorDivider) {
  @include border-line;
  top: 0;
  right: 0;
  height: 100%;
  border-right: 1px solid $color;
  transform: scaleX(.5);
}
