.mtui-dialog-container {
  @include flex-center();

  .mtui-dialog-main {
    width: 84%;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    font-size: $fontXMedium;
    text-align: center;
    animation: zoomIn .15s ease forwards;

    .mtui-dialog-head {
      position: relative;
      padding: 15px 20px 0 20px;
      overflow: hidden;
      // &::after {
      //   @include border-bottom-line();
      // }

      .mtui-dialog-title {
        font-size: $fontLarge;
        font-weight: 400;
        word-break: break-all;
      }
    }

    .mtui-dialog-body {
      padding: 20px;
      font-size: $fontXMedium;
      word-break: break-all;
      line-height: 1.8;
      color: lighten($black, 25%);
    }

    .mtui-dialog-foot {
      position: relative;
      @include flex-center();
      &::before {
        @include border-top-line();
      }
    }
  }
}