@import '@/common/css/variable.scss';
@import '@/common/css/mixins.scss';
@import '@/common/css/global.scss';
@import '@/common/css/animate.scss';

.mtui-popup {
  position: fixed;
  z-index: 9990;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  
  &-outer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;

    &.position-center {
      align-items: center;
      justify-content: center;
      .is-round { border-radius: 20px; }
      .mtui-popup-close { right: 6px; }
    }
    &.position-top {
      align-items: flex-start;
      justify-content: center;
      .mtui-popup-container { width: 100%; }
      .is-round { border-radius: 0 0 20px 20px; }
      .mtui-popup-close { right: 6px; }
    }
    &.position-bottom {
      align-items: flex-end;
      justify-content: center;
      .mtui-popup-container { width: 100%; }
      .is-round { border-radius: 20px 20px 0 0; }
      .mtui-popup-close { right: 6px; }
    }
    &.position-left {
      align-items: center;
      justify-content: flex-start;
      .mtui-popup-container { height: 100%; }
      .is-round { border-radius: 0 20px 20px 0; }
      .mtui-popup-close { right: 6px; }
    }
    &.position-right {
      align-items: center;
      justify-content: flex-end;
      .mtui-popup-container { height: 100%; }
      .is-round { border-radius: 20px 0 0 20px; }
      .mtui-popup-close { left: 6px; }
    }

    .mtui-popup-mask {
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
      background-color: transparentize(black, .6);
    }
  
    .mtui-popup-container {
      position: relative;
      z-index: 2;
      padding-top: 20px;
      min-width: 50px;
      min-height: 50px;
      box-sizing: border-box;
      background-color: white;
      
      .mtui-popup-close {
        position: absolute;
        z-index: 3;
        top: 6px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: $fontLarge;
        color: $colorMinorTxt;
        text-align: center;
      }
    }
  }
}