@import '@/common/css/variable.scss';

.api-layout {
  display: flex;
  margin: 20px auto;
  width: 1200px;

  .api-content {
    width: 805px;
    background-color: white;
    border-radius: 12px;
    color: $colorPrimaryTxt;
    box-shadow: 0 8px 12px #ebedf0;

    .logo {
      margin-top: 80px;
      font-size: 80px;
      text-align: center;
      color: $colorPrimary;
    }
    .logo-sub {
      font-size: 14px;
      text-align: center;
      color: $colorMinorTxt;
    }

    .api-code {
      margin: 20px auto;
      width: 80%;
      .mtui-h1,
      .mtui-h3 {
        padding: 0;
      }
    }

    pre {
      padding: 15px;
      background-color: $colorBg;
      border-radius: 2px;
    }

    .api-table {
      width: 100%;
      border-spacing: 0;
      border-collapse: collapse;
      color: $colorPrimaryTxt;
      font-size: $fontMedium;

      th {
        padding: 8px 10px;
        font-weight: normal;
        text-align: left;
        border-bottom: 1px solid $colorDivider;

        &:first-child { padding-left: 0; }
        &:last-child { padding-right: 0; }
      }
      td {
        padding: 8px 10px;
        border-bottom: 1px solid $colorDivider;

        &:first-child { padding-left: 0; }
        &:last-child { padding-right: 0; }
      }
    }
  }

  .emulated-phone {
    position: sticky;
    top: 20px;
    margin-left: 20px;
    width: 375px;
    height: 667px;
    background-color: $colorLightBg;
    border-radius: 12px;
    overflow: auto;
    box-shadow: 0 8px 12px #ebedf0;
  }
}

@media all and (max-width:751px){
  .api-layout {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    width: 100%;

    .api-content {
      box-sizing: border-box;
      margin-top: 20px;
      padding: 15px;
      width: 100%;

      .api-code {
        width: 100%;
      }
    }

    .emulated-phone {
      position: static;
      margin-left: 0;
      height: auto;
      box-shadow: none;
    }
  }
}
